<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card" id="card-bg">
                <div class="card-title">
                    <h2><i class="fa fa-birthday-cake" aria-hidden="true"></i>Happy Birthday</h2>
                    <h1>PARTY</h1>
                </div>
                <div class="invite-message">
                    <h5>PLEASE JOIN US TO CELEBRATE THE BIRTHDAY OF</h5>
                </div>
                <div class="person-name">
                    <h3>Jonathan Samuelson</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 p-2">
                        <h6>SATURDAY</h6>
                        <h6>8:00P.M</h6>
                    </div>
                    <div class="col-md-4 p-2">
                        <p>21</p>
                    </div>
                    <div class="col-md-4 p-2">
                        <h6>DECEMBER</h6>
                        <h6>2019</h6>
                    </div>
                </div>
                <div class="hall-name">
                    <h6>THE CELEBRATION HALL</h6>
                    <h6>1234 PARTY ROAD</h6>
                    <h6>NEW YORK, NY 10000</h6>
                </div>

                <div class="response">
                    <h6>RSVP BY JUNE 5 TO</h6>
                    <h6>MELISSA AT 123-456-8910 OR MELISSA@EMAIL.COM</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Share with :</h4>
            <div class="icons">
                <a href="/send-email">
                    <strong>
                        <i class="fa fa-mail-forward" aria-hidden="true"></i></strong>
                </a>
                <a href="/text">
                    <strong>
                        <i class="fa fa-phone-square" aria-hidden="true"></i></strong>
                </a>

            </div>
        </div>
    </div>
</div>